# Database connection URL for PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rakkyo?schema=public"

# API Port
PORT=4000

# NextAuth/JWT Secret (for signing tokens)
NEXTAUTH_SECRET="some-very-secret-key-at-least-32-chars-long"

# AI Provider Configurations
GEMINI_API_KEY=""
CLAUDE_API_KEY=""
